<h2 mat-dialog-title>Add/Edit your book</h2>
<mat-dialog-content>
  <div class="pt-5 box-border">
    <div class="flex items-center gap-3">
      <mat-form-field class="flex-grow" subscriptSizing="dynamic" appearance="outline">
        <input matInput (keydown.enter)="lookupWithISBN()" [formControl]="queryFormControl" />
        <mat-label>Search for your book</mat-label>
        @if (queryFormControl.invalid || queryStatus === 'error'){
        <mat-error>Please enter at least 5 characters</mat-error>
        }
        <mat-hint>By name, ISBN,...</mat-hint>
      </mat-form-field>
      <button
        mat-icon-button
        matTootip="Search for the book"
        (click)="lookupWithISBN()"
      >
        @switch (queryStatus) { @case ('idle') {
        <mat-icon>search</mat-icon>
        } @case ('loading') {
        <mat-spinner diameter="24"></mat-spinner>
        } @case ('error') {
        <mat-icon>error</mat-icon>
        } @case ('success') {
        <mat-icon>done</mat-icon>
        } }
      </button>
    </div>
    <form [formGroup]="formGroup" class="flex flex-col gap-5 py-5">
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <input matInput formControlName="title" />
        <mat-label>Title</mat-label>
        <mat-error>Please enter a title</mat-error>
      </mat-form-field>

      <span class="flex items-center"> Authors: </span>

      <mat-chip-grid #authorChips>
        @for (author of formGroup.controls.authors.value; track $index) {
        <mat-chip-row
          (removed)="formGroup.controls.authors.value!.splice($index, 1)"
          [editable]="true"
        >
          {{ author }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        } @empty {
        <mat-error class="px-2">Enter at least one author</mat-error>
        }
      </mat-chip-grid>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input
          matInput
          class="!ml-0"
          placeholder="Add an author"
          [matChipInputFor]="authorChips"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="
            $event.value !== ''
              ? formGroup.controls.authors.value!.push($event.value)
              : 0
          "
        />
        <mat-hint>Press Enter to add an author</mat-hint>
        <mat-error>Enter at least one author</mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <input matInput formControlName="isbn" />
        <mat-label>ISBN</mat-label>
        <mat-error>Please enter a valid ISBN</mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <input matInput type="number" formControlName="rating" />
        <mat-label>Rating (0-10)</mat-label>
        <mat-error>Please enter a valid rating</mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <input
          type="number"
          matInput
          formControlName="yearOfPublication"
        />
        <mat-label>Publication Year</mat-label>
        <mat-error>Please enter a valid year (1800+)</mat-error>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <input matInput formControlName="coverUrl" />
        <mat-label>Cover Image URL</mat-label>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="close()">Save</button>
</mat-dialog-actions>
